/* From Uiverse.io by aadium */
.paste_button {
  position: relative;
  display: block;
  margin-right: 200px;
}

.button {
  background-color: var(--corFontePrimaria);
  color: var(--corPrimaria);
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  cursor: pointer;
  min-width: 130px;
}

.dropdown_content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  background-color: var(--corFontePrimaria);
  border: 2px solid var(--corPrimaria);
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown_content button {
  color: var(--corPrimaria);
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
  width: 100%;
}

.dropdown_content button:hover {
  background-color: var(--corPrimaria);
  color: var(--corFontePrimaria);
}

.dropdown_content button:focus {
  background-color: var(--corFontePrimaria);
  color: var(--corPrimaria);
}

.dropdown_content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown_content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste_button:hover .dropdown_content {
  display: block;
}

@media (max-width: 1000px) {
  .paste_button {
    margin: 0px;
  }

  .dropdown_content button {
    width: 100%;
  }
}
