.container {
  display: flex;
  justify-content: space-around;
  background-color: #1b263b9b;
  gap: 200px;
  padding: 10px 50px;
  margin-bottom: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.idiomas {
  border-right: 1px solid var(--corFontePrimaria);
  border-left: 1px solid var(--corFontePrimaria);
  padding: 0px 40px;
}

.info h4 {
  font-size: 14px;
  margin: 15px 0px 0px 0px;
}

.info p {
  font-weight: lighter;
  font-size: 14px;
  margin: 0px;
}

.verTudo {
  background-color: transparent;
  border: none;
  color: var(--corPrimaria);
  cursor: pointer;
}

@media (max-width: 820px) {
  .container {
    flex-direction: column;
    gap: 0px;
  }
  .container div {
    padding: 10px 0px;
  }
  .idiomas {
    border-top: 1px solid var(--corFontePrimaria);
    border-bottom: 1px solid var(--corFontePrimaria);
    border-right: none;
    border-left: none;
  }
}
