.container {
  padding: 24px 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  list-style: none;
  width: 100%;
  justify-content: center;
}

/* Ajusta o tamanho quando há apenas um item */
.container:has(li:first-child:last-child) {
  display: flex;
  justify-content: center;
}

.container:has(li:first-child:last-child) li {
  max-width: 250px; /* Define um tamanho máximo */
  width: 100%;
}
