.container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 30%;
  margin-left: auto;
}
.container a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1000px) {
  .container {
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
}
