.container_collection ul {
  width: 90%;
}

.detalhes {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.cast {
  background-color: darkred;
  width: 30%;
  align-self: flex-start; /* Alinha à direita */
}

@media (max-width: 1000px) {
  .detalhes {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    padding-left: 30px;
  }
}
