.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--corFontePrimaria);
}

.item img:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}

h3 {
  margin-bottom: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  visibility: hidden;
  width: max-content;
  background-color: var(--corPrimaria);
  color: var(--corFontePrimaria);
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 14px;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
